body{
  background: #C70039;
}
#container{
  background: white;
  width: 70%;
  height: 200%;
  position: absolute;
  margin-left: 15%;

}
#slider{
  background: black;
  width: 100%;
  top: 0px;
  height: 20%;
  position: absolute;
}
#slider1{
  background: yellow;
  width: 30%;
  height: 100%;
  position: relative;
}
#slider2{
  background: green;
  width: 70%;
  height: 100%;
  margin-left: 30%;
  top: 0px;
  position: absolute;

}
#nav{
  background: orange;
  width: 100%;
  height: 80px;
  top: 20%;
  position: absolute;
  text-align: center;
}
#nav ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline-flex;
  overflow: hidden;
  background-color: #333;
}
#nav li{
  float: left;
  width: 120px;
  margin: 10px;
  padding: 10px;
  font-size: 20px;

}
#nav li a {
  color: white;
  text-decoration: none;
}
#nav li a:hover{
    font-size: 25px;
    color: yellow;

}
#leftSide{
  background: #00FF80;
  width: 30%;
  height: 600px;
  top: 378px;
  position: absolute;

}
#leftSide ul{
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  background: red;
}
#leftSide li{
  width: 120px;
  margin: 10px;
  padding: 5px;
}
#leftSide li a{
  color: white;
  text-decoration: none;
}
#leftSide li a:hover{
  font-size: 20px;
  color: yellow;
}
#rightSide{
  background: #C8FE2E;
  width: 70%;
  height: 600px;
  top: 378px;
  margin-left: 30%;
  position: absolute;
}

#pics{
  background: white;
  width: 100%;
  height: 300px;
  top: 1000px;
  position: absolute;
}
#pic1{
  float: left;
  display: inline;
  background: blue;
  width: 30%;
  height: 300px;
  margin: 0px;
  padding: 0px;
  position: absolute;

}
#pic2{
  float: left;
  display: inline;
  background: red;
  width: 30%;
  height: 300px;
  margin-left: 35%;
  padding: 0px;
  position: absolute;

}
#pic3{
  float: left;
  display: inline;
  background: orange;
  width: 30%;
  height: 300px;
  margin-left: 70%;
  padding: 0px;
  position: absolute;

}

#footer{
  background: #800020;
  width: 100%;
  height: 100px;
  text-align: center;
  top: 1300px;
  position: absolute;
}
